* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1 h2 h3 h4 h5 h6 p {
  line-height: 0.8;
}

.container {
  width: 1410px;
  margin: 0 auto;
}

/*===================== navbar start ======================*/
#navbar {
  padding: 30px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
#navbar .navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .navbar_wrapper .navbar_logo {
  width: 111px;
  height: 60px;
  text-align: left;
}
#navbar .navbar_wrapper .navbar_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#navbar .navbar_wrapper .navbar_menu {
  width: 60%;
}
#navbar .navbar_wrapper .navbar_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#navbar .navbar_wrapper .navbar_menu ul li {
  position: relative;
}
#navbar .navbar_wrapper .navbar_menu ul li a {
  font-size: 18px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 150%;
  position: relative;
}
#navbar .navbar_wrapper .navbar_menu ul li a i {
  color: white;
  margin-left: 8px;
}
#navbar .navbar_wrapper .navbar_menu ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: white;
  left: 0;
  bottom: -5px;
  z-index: 11;
  transition: all linear 0.3s;
}
#navbar .navbar_wrapper .navbar_menu ul li a:hover::after {
  width: 50%;
}
#navbar .navbar_wrapper .navbar_menu ul li .angledown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  background-color: #fff;
  cursor: pointer;
  width: 200px;
  height: 200px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 42%;
  transform: translateX(-54%);
  z-index: 555;
  transition: all linear 0.3s;
}
#navbar .navbar_wrapper .navbar_menu ul li .angledown li a {
  font-size: 18px;
  font-weight: 400;
  color: #30344E;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 150%;
  position: relative;
}
#navbar .navbar_wrapper .navbar_menu ul li .angledown li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: #30344E;
  left: 0;
  bottom: -5px;
  z-index: 11;
  transition: all linear 0.3s;
}
#navbar .navbar_wrapper .navbar_menu ul li .angledown li a:hover::after {
  width: 50%;
}
#navbar .navbar_wrapper .navbar_menu ul li:hover .angledown {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.55);
}
#navbar .navbar_wrapper .navbar_btn {
  width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
#navbar .navbar_wrapper .navbar_btn button {
  font-size: 18px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  background: transparent;
  line-height: 150%;
  border: none;
}
#navbar .navbar_wrapper .navbar_btn a {
  word-spacing: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 0.3s;
}
#navbar .navbar_wrapper .navbar_btn a:hover {
  background-color: #FD5F36;
  color: #30344E;
  border: transparent;
}

/*===================== navbar end ======================*/
/*===================== banner part start ======================*/
#banner {
  padding-top: 163px;
  background: #30344E;
}
#banner .banner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 188px;
       column-gap: 188px;
}
#banner .banner_wrapper .banner_heading h1 {
  width: 644px;
  font-size: 60px;
  font-weight: 600;
  color: white;
  line-height: 150%;
  text-transform: capitalize;
  margin-bottom: 24px;
}
#banner .banner_wrapper .banner_heading p {
  color: white;
  width: 540px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 40px;
}
#banner .banner_wrapper .banner_heading .banner_btn {
  margin-bottom: 50px;
}
#banner .banner_wrapper .banner_heading .banner_btn a {
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 0.3s;
}
#banner .banner_wrapper .banner_heading .banner_btn a:hover {
  background-color: #FD5F36;
  color: #30344E;
  border: transparent;
}
#banner .banner_wrapper .banner_heading span {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-transform: capitalize;
  line-height: 140%;
}
#banner .banner_wrapper .banner_heading span a {
  font-size: 20px;
  font-weight: 400;
  color: #52C5B6;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 140%;
}
#banner .banner_wrapper .banner_heading .banner_review {
  display: flex;
  justify-content: left;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-top: 71px;
}
#banner .banner_wrapper .banner_heading .banner_review .banner_review_image {
  display: flex;
  justify-content: left;
}
#banner .banner_wrapper .banner_heading .banner_review .banner_review_image .banner_review_user {
  width: 52px;
  height: 52px;
  background: #C4C4C4;
  border-radius: 50%;
}
#banner .banner_wrapper .banner_heading .banner_review .banner_review_contant h4 {
  font-size: 26px;
  font-weight: 700;
  color: #52C5B6;
  line-height: 150%;
}
#banner .banner_wrapper .banner_heading .banner_review .banner_review_contant p {
  color: white;
  margin-top: 2.71px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}
#banner .banner_wrapper .banner_image {
  width: 794px;
  height: 795px;
  overflow: hidden;
}
#banner .banner_wrapper .banner_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*===================== banner part start ======================*/
/*===================== wellcome part start ======================*/
#wellcome {
  padding: 150px 0 130px 0;
  background: white;
}
#wellcome .wellcome_wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  -moz-column-gap: 101px;
       column-gap: 101px;
}
#wellcome .wellcome_wrapper .wellcome_image {
  width: 582px;
  height: 630px;
  overflow: hidden;
}
#wellcome .wellcome_wrapper .wellcome_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wellcome .wellcome_wrapper .wellcome_heading {
  width: 584px;
}
#wellcome .wellcome_wrapper .wellcome_heading h4 {
  font-size: 20px;
  font-weight: 600;
  color: #FD5F36;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 8px;
}
#wellcome .wellcome_wrapper .wellcome_heading .heading {
  font-size: 48px;
  font-weight: 600;
  color: #30344E;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 20px;
}
#wellcome .wellcome_wrapper .wellcome_heading .pera {
  font-size: 16;
  font-weight: 400;
  color: #30344E;
  text-transform: capitalize;
  line-height: 140%;
}
#wellcome .wellcome_wrapper .wellcome_heading .wellcome_list {
  display: flex;
  justify-content: left;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 26px;
}
#wellcome .wellcome_wrapper .wellcome_heading .wellcome_list .list_pera {
  font-size: 16;
  font-weight: 400;
  color: #30344E;
  text-transform: capitalize;
  line-height: 140%;
}
#wellcome .wellcome_wrapper .wellcome_heading .wellcome_list .list_pera i {
  font-size: 18px;
  font-weight: 400;
  color: #30344E;
  margin-right: 12px;
}
#wellcome .wellcome_wrapper .wellcome_heading .wellcome_btn_wrapper {
  margin-top: 40px;
}
#wellcome .wellcome_wrapper .wellcome_heading .wellcome_btn_wrapper .wellcome_btn {
  font-size: 18px;
  font-weight: 600;
  color: #30344E;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid #30344E;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 0.3s;
}
#wellcome .wellcome_wrapper .wellcome_heading .wellcome_btn_wrapper .wellcome_btn:hover {
  background-color: #FD5F36;
  color: white;
  border: none;
}

/*===================== wellcome part end ======================*/
/*===================== service part start ======================*/
#service {
  padding: 120px 0;
  background: #FAFAFA;
}
#service .service_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 456px;
       column-gap: 456px;
}
#service .service_wrapper .service_head_wrapper h4 {
  font-size: 20px;
  font-weight: 600;
  color: #FD5F36;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 8px;
}
#service .service_wrapper .service_head_wrapper .service_subheading {
  font-size: 48px;
  font-weight: 600;
  color: #30344E;
  text-transform: capitalize;
  line-height: 150%;
}
#service .service_wrapper .service_pera_wrapper .service_pera {
  width: 538px;
  font-size: 16;
  font-weight: 400;
  color: #30344E;
  text-transform: capitalize;
  line-height: 140%;
}
#service .service_icons_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  flex-wrap: wrap;
  margin-top: 50px;
}
#service .service_icons_wrapper .service_icon_box {
  padding: 40px 24px;
  width: 330px;
  background: white;
  text-align: center;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
}
#service .service_icons_wrapper .service_icon_box .service_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FD5F36;
  margin: 0 auto;
  position: relative;
}
#service .service_icons_wrapper .service_icon_box .service_icon::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border: 1px solid #FD5F36;
  border-radius: 50%;
  background: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#service .service_icons_wrapper .service_icon_box .service_icon::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #FD5F36;
  border-radius: 50%;
  left: 0px;
  top: -1px;
  animation: rotate 24s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#service .service_icons_wrapper .service_icon_box .service_icon i {
  font-size: 30px;
  color: white;
  background: transparent;
}
#service .service_icons_wrapper .service_icon_box .icon_contant {
  font-size: 20px;
  font-weight: 600;
  color: #30344E;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 14px;
  margin-top: 30px;
}
#service .service_icons_wrapper .service_icon_box .icon_pera {
  margin-top: 14px;
  font-size: 16;
  font-weight: 400;
  color: #30344E;
  text-transform: capitalize;
  line-height: 140%;
}

/*===================== service part end ======================*/
/*===================== solution part start ======================*/
#solution {
  padding: 164px 0;
  background: white;
}
#solution .solution_wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 86px;
       column-gap: 86px;
}
#solution .solution_wrapper .solution_contant {
  width: 623px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
}
#solution .solution_wrapper .solution_contant .solution_heading {
  width: 505px;
  font-size: 48px;
  font-weight: 600;
  color: #30344E;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 20px;
}
#solution .solution_wrapper .solution_contant .solution_pera {
  width: 530px;
  font-size: 16;
  font-weight: 400;
  color: #30344E;
  text-transform: capitalize;
  line-height: 140%;
  margin-bottom: 40px;
}
#solution .solution_wrapper .solution_contant .solution_btn {
  margin-bottom: 70px;
}
#solution .solution_wrapper .solution_contant .solution_btn a {
  font-size: 18px;
  font-weight: 600;
  color: #30344E;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid #30344E;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 0.3s;
}
#solution .solution_wrapper .solution_contant .solution_btn a:hover {
  background-color: #FD5F36;
  color: white;
  border: none;
}
#solution .solution_wrapper .solution_contant .solution_mini_contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
#solution .solution_wrapper .solution_contant .solution_mini_contant .solution_mini_contant_item .mini_heading {
  width: 275px;
  font-size: 24px;
  font-weight: 600;
  color: #30344E;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 12px;
}
#solution .solution_wrapper .solution_contant .solution_mini_contant .solution_mini_contant_item .mini_pera {
  width: 258px;
  font-size: 16;
  font-weight: 400;
  color: #30344E;
  text-transform: capitalize;
  line-height: 140%;
}
#solution .solution_wrapper .solution_image {
  width: 716px;
  height: 581px;
  position: relative;
}
#solution .solution_wrapper .solution_image .solution_box_one {
  width: 291px;
  height: 374px;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#solution .solution_wrapper .solution_image .solution_box_one img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#solution .solution_wrapper .solution_image .solution_box_two {
  position: absolute;
  width: 411px;
  height: 460px;
  border-radius: 10px;
  right: 2px;
  top: 0;
  z-index: 22;
}
#solution .solution_wrapper .solution_image .solution_box_two img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
#solution .solution_wrapper .solution_image .solution_box_three {
  position: absolute;
  width: 151px;
  height: 83px;
  left: 119px;
  top: 74px;
}
#solution .solution_wrapper .solution_image .solution_box_three img {
  width: 100%;
  height: 100%;
  background: transparent;
  -o-object-fit: cover;
     object-fit: cover;
}
#solution .solution_wrapper .solution_image .solution_box_four {
  display: flex;
  justify-content: left;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  background-color: #52C5B6;
  padding-left: 25px;
  width: 361px;
  height: 107px;
  position: absolute;
  right: 113px;
  bottom: 0;
  z-index: 11;
}
#solution .solution_wrapper .solution_image .solution_box_four .flow_heading h2 {
  font-size: 70px;
  font-weight: 600;
  color: white;
}
#solution .solution_wrapper .solution_image .solution_box_four .flow_contant h3 {
  width: 134px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  line-height: 150%;
}
#solution .solution_wrapper .solution_image .solution_box_five {
  position: absolute;
  width: 223px;
  height: 250px;
  background: #52C5B6;
  border-radius: 10px;
  right: -10px;
  top: -10px;
  z-index: 0;
}
#solution .solution_wrapper .solution_image .solution_box_six {
  position: absolute;
  width: 126px;
  height: 129px;
  right: 33px;
  bottom: 46.55px;
  z-index: 0;
}

/*===================== solution part end ======================*/
/*===================== expert part start ======================*/
#expert {
  padding: 80px 0 221px 0;
  margin-bottom: 223px;
  background: #30344E;
  position: relative;
}
#expert .expert_contant .expert_mini_head {
  font-size: 20px;
  font-weight: 600;
  color: #FD5F36;
  text-transform: capitalize;
  text-align: center;
  line-height: 150%;
  margin-bottom: 8px;
}
#expert .expert_contant .expert_heading {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  line-height: 150%;
}
#expert .image_wrapper_main {
  position: relative;
}
#expert .image_wrapper_main .expert_images_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 11;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image {
  width: 300px;
  height: 394px;
  position: relative;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image .expert_image_contant {
  padding: 22px 0 22px 66px;
  width: 232px;
  background-color: white;
  cursor: pointer;
  transition: all linear 0.3s;
  position: absolute;
  left: 0;
  bottom: -10px;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image .expert_image_contant:hover {
  background-color: #52C5B6;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image .expert_image_contant:hover .image_head {
  color: white;
  transition: all linear 0.3s;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image .expert_image_contant:hover .image_pera {
  color: white;
  transition: all linear 0.3s;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image .expert_image_contant .image_head {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  color: #30344E;
  margin-bottom: 6px;
  text-transform: capitalize;
}
#expert .image_wrapper_main .expert_images_wrapper .expert_image .expert_image_contant .image_pera {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #5B5F77;
  text-transform: capitalize;
}
#expert .expert_victor {
  position: absolute;
  width: 561px;
  height: 157px;
  left: 0;
  top: 105px;
  transform: rotate(5deg);
  z-index: 1;
}

/*===================== investing part end ======================*/
#investing {
  margin-top: 320px 0 132px 0;
}
#investing .investing_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 111px;
       column-gap: 111px;
}
#investing .investing_wrapper .investing_image {
  width: 557px;
  height: 733px;
  overflow: hidden;
}
#investing .investing_wrapper .investing_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#investing .investing_wrapper .investing_contant {
  width: 742px;
}
#investing .investing_wrapper .investing_contant .investing_contant_head {
  margin-bottom: 68px;
  width: 600px;
  font-size: 48px;
  font-weight: 600;
  color: #30344E;
  text-transform: capitalize;
  line-height: 150%;
}
#investing .investing_wrapper .investing_contant .investing_contant_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #30344E;
  padding: 18px 30px;
  margin-bottom: 20px;
}
#investing .investing_wrapper .investing_contant .investing_contant_items .contant_item_pera .pera {
  font-size: 20px;
  font-weight: 600;
  color: #30344E;
  line-height: 140%;
  text-transform: capitalize;
}
#investing .investing_wrapper .investing_contant .investing_contant_items .contant_item_pera .contant_item_icon i {
  font-size: 20px;
  font-weight: 600;
  color: #30344E;
}

/*===================== investing part start ======================*//*# sourceMappingURL=style.css.map */